
.column{
    padding: 0;
}

.second-part {
    border: 1px solid #babaca;
    border-radius: 4px;
    padding: 5px;
}

.columns {
    gap: 10px;
    border-radius: 0.4px;

}

.image{
    display: flex;
}

figure.image{
    margin-left: 0.5em;

}

.exp {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-bottom: 20px;
}

.round {
    display: flex;
}

.project {
    width: 80%;
}

.footer {
    background-color: #F14668;
}
